* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

@font-face {
  font-family: 'Monserrat';
  src: url(https://fonts.google.com/specimen/Montserrat); }

@font-face {
  font-family: 'Fraunces';
  src: url(https://fonts.google.com/specimen/Fraunces); }

h1 {
  color: black; }
