@media screen and (max-width: 945px){
    main{
        section{
            grid-template-rows: 600px 600px;
            grid-template-columns: 600px;
            .hero{
                grid-column: 1;
                grid-row: 2;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 18px;
            }
            .img{
                .img-chanel{
                    grid-column: 1;
                    grid-row: 1;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 18px;
                }
            }
        }
    }
}

@media screen and (max-width:715px){
    main{
        section{
            .hero{
                .hero-2{
                    div{
                        .text-title{
                            .title{
                                font-size: 35px;
                            }
                        }
                        .text-price{
                            .price-sale{
                                font-size: 35px;
                            }
                        }
                        .text-cart{
                            .addCart{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .img{
                .img-chanel{
                    height: 620px;
                }
            }
        }
    }
}

@media screen and (max-width:611px){
    main{
        section{
            grid-template-rows: 600px 550px;
            grid-template-columns: 450px;
            .hero{
                justify-content: end;
                .hero-2{
                    div{
                        .text-title{
                            .title{
                                font-size: 30px;
                            }
                        }
                        .text-price{
                            .price-sale{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 473px){
    main{
        section{
            grid-template-columns: 360px;
        }
    }
}